.container {
    width: 575px;
    height: 825px;
   background-color: #a4a49e;
    padding-left: 30px;
    margin:auto;
    
  }
  h1{
    text-align:center;
  }
  nav{
    margin:20px auto;
    text-align:center;
  }
  nav a{
    width: 150px;
    height: 35px;
    /* margin-left: 50px; */
    margin-top: 30px;
    background-color: #e4eaec;
    display:inline;
    padding: 1px 20px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    box-shadow: 0 12px 16px 0 rgba(112, 22, 22, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  
    font-size: 25px;
  }
  a:hover {background-color: #b78d3e}
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
  }
  #guide{
    font-size: 25px;
    margin-left: 90px;
    margin-top: 10px;
    color: rgb(241, 241, 241);
  }
  
  button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(112, 22, 22, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 25px;
  }
  button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }
  