html {
    margin: 0;
  }
  nav{
    margin: 80px auto 80px;
    text-align: center;
  }
  nav a{
    margin-left: 10px;
    padding: 20px;
    background-color: rgb(238, 167, 86);
    color:black;
    text-decoration: none;
    font-size: 1.5em;
    border: solid black 2px;
    border-radius: 10px;
    display: inline;
    
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
    border-radius: 10px;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  